h1 {
    color: black;
    text-align: center;
    font-size: 60px;
}
button {
    background-color: lightcoral;
    font-size: 20px;
}
div {
    margin: 10px;
}
div.infoMessage {
    background-color: lightcoral;
}
.errorMessage {
   color: red;
    font-size: 12px;
}
div.treasureHuntItem {
    padding: 10px;
    background-color: lightcyan;
    border: solid black 1px;
    border-radius: 10px;
}

div.button {
    padding: 20px;
    background-color: gray;
    border: solid black 1px;
}

div.testMessage {
    background-color: yellow;
    border: 1px black dotted;
}

body{
    font-family: sans-serif;
    text-align: center;
    font-size: 20px;
    background-image: url("BackroundImage.png");
    background-repeat:no-repeat;
    background-size:contain;
}

html{
    background-color: lightgoldenrodyellow;
}